/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 90px;
}

.header__menu-list {
  display: flex;
  gap: 30px;
  font-size: 18px;
  list-style: circle;
}

.header__menu-item_no-bullit {
  list-style: none;
}

.header__menu-link-active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 140px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.contact__info-align-header {
  justify-self: self-end;
}

.contact__info-align-footer {
  justify-self: self-start;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: -135px;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.aligned-text_center {
  line-height: 1.5;
  text-align: center;
}

.align-text_right {
  line-height: 1.2;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27273;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  z-index: 1;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__heading {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.card {
  position: relative;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card_background-position {
  background-repeat: no-repeat;
  background-position: -120px;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card__title {
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 2px 40px;
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
}

.about {
  margin-top: 120px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 35px 24px 0;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-content: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 101px 0 0 25px;
}

.about__text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  min-height: 180px;
  margin-top: 180px;
  padding: 0 50px;
}

.footer__menu {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: flex-end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon-youtube {
  background-image: url(../images/yt.svg);
}

.footer__social-icon-vk {
  background-image: url(../images/vk.svg);
}

.footer__social-icon-pinterest {
  background-image: url(../images/pinterest.svg);
}